body{
    margin:0;
    padding:0;
    background-color: #ffea00;
    color: #28334aff;
    font-family:'Courier New', Courier, monospace;
}
.header{
    display: flex;
    flex-direction: column;
    background-color: #ffea00;
    color: #28334aff;
    text-align: center;
}

.info h3{
    display: flex;
    flex: 1;
    justify-content:center;
    align-items: center;
}
.choices{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
}
.choices button{
    color: white;
    background-color: #ffea00;
    border: 0;
}
.choices button:hover{
    scale: 1.1;
    transition: all .2s ease-in-out;
}

button img{
    width: 75%;
}

.whatChoice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.yourChoice{
    display: flex;
    flex-direction: column;
}
.theirChoice{
    display: flex;
    flex-direction: column;
}
.whatChoice p{
    text-align:center;
}

#results{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.playing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#winner{
    font-size: 30px;
}
#reset{
    background-color: #b8a90c;
    color: white;
    border: 0;
    width: 200px;
    height: 50px;
    border-radius: 8px;
}
